In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('olist.sqlite')

In [3]:
conn

In [8]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)

# Display the tables
print(tables)

Empty DataFrame
Columns: [name]
Index: []

In [10]:
orders_query = "SELECT * FROM orders"
orders_df = pd.read_sql_query(orders_query, conn)

# Step 3: Load the customers table into a DataFrame
customers_query = "SELECT * FROM customers"
customers_df = pd.read_sql_query(customers_query, conn)

# Step 4: Merge orders and customers DataFrames on 'customer_id'
merged_df = pd.merge(orders_df, customers_df, on='customer_id', how='inner')

# Step 5: Group by 'customer_id' and count the number of orders per customer
orders_per_customer = merged_df.groupby('customer_id').size().reset_index(name='order_count')

# Step 6: Filter customers who have placed 3 or more orders
customers_with_3_or_more_orders = orders_per_customer[orders_per_customer['order_count'] >= 3]

# Step 7: Display the customers who have 3 or more orders
print(customers_with_3_or_more_orders)

# Close the connection
conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM customers': no such table: customers